* {
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

body {
    background-image: url("./images/starwarsbackground.jpg");

    background-position: right top;
    background-attachment: scroll;

}

.text {
    color: white;
}



#characters {
    font-size: 400%;
    margin: 0;
}

h2 {
    font-size: 250%;
    margin: 0;
}

h3 {
    font-size: 200%;
    margin: 0;
}

h5 {
    font-size: 180%;
    margin: 0;
}

.blink_me {
    font-family: 'Codystar', cursive;
    color: yellow;
    font-size: 500%;
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

